/* src/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://www.businessinsider.in/photo/71520293/20-lesser-known-travel-destinations-to-tick-off-your-bucket-list-according-to-airbnb/18-kerala-india.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent horizontal scrollbar */
}

.login-container {
  background-color: rgba(255, 255, 255, ); /* Slightly transparent white */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin-right: 650px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1); /* Change the background color when focused */
  color: #000; /* Change the font color when focused */
}

.input-wrapper input:focus {
    background-color: rgba(255, 255, 255, 0.4); /* Change the background color when focused */
    color: #000; /* Change the font color when focused */
}

label {
  color: #000; /* Set label color to black */
}

button {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.register-link {
  color: #000; /* Set link text color to black */
  text-decoration: none; /* Remove underline */
}

.register-link a:hover {
  text-decoration: underline; /* Add underline on hover */
}
